@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

main {
  margin-bottom: 96px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.row__wide {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__center {
  justify-content: center;
}

.row__column {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 0 32px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.container {
  padding: 96px 0;
}

button {
  border: none;
  cursor: pointer;
}

.purple--text {
  color: #6415ff;
}

.btn__menu {
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  display: none;
}

.menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #e5e7eb;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 400ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 32px;
  right: 24px;
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.menu__link--primary {
  color: #f7fafc;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 500px;
  border: none;
}

/* NAVBAR */
nav {
  padding-top: 32px;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.6px;
  margin-left: 8px;
  padding-bottom: 2px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  margin: 0 24px;
  border-bottom: 2px solid transparent;
  position: relative;
}

.nav__link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #6415ff;
  left: 0;
  bottom: -6px;
  transition: opacity 300ms ease;
  opacity: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  margin: 0;
  margin-top: 2px;
  background-color: #6415ff;
  color: #fff;
  line-height: 1.5;
  padding: 10px 32px;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.nav__link--primary:after {
  content: "";
  width: 0;
  height: 0;
}

.nav__link--primary:hover,
.header__email--btn:hover,
.quality__description--btn:hover,
.values__description--btn:hover {
  background-color: rgba(60, 13, 153);
}

/* HEADER */

header {
  position: relative;
}

.header__description {
  width: calc(100% - 60%);
}

.header__para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header__email--input {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 500px;
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
  transition: border-color 300ms;
  position: absolute;
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: #6415ff;
}

.header__email--btn {
  margin: 8px;
  height: calc(100% - 16px);
  width: 160px;
  background-color: #6415ff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 500px;
  position: relative;
  z-index: 2;
  transition: all 300ms ease;
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  max-width: 768px;
}

/* FEATURES */

.section__tag {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 1.2px;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
  max-width: 576px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
}

.feature__img {
  height: 24px;
  width: 24px;
}

.feature__text {
  margin: 8px 0 0 16px;
  text-align: start;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  max-width: calc(634px / 3);
  color: #7c8ba1;
  line-height: 2;
}

/* QUALITY */

.quality__description {
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  margin-right: 64px;
}

.quality__description--btn,
.values__description--btn {
  background-color: #6415ff;
  color: #fff;
  padding: 12px 32px;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 48px;
  transition: all 300ms ease;
  width: 150px;
}

.quality__img--wrapper {
  width: calc(100% / 2);
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

/* STEPS */

.steps__img--wrapper,
.steps__description {
  width: calc(100% / 2);
}

.steps__description {
  padding: 32px 0 32px 64px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__num {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #7c8ba1;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/* VALUES */

.values__description,
.values__img--wrapper {
  width: calc(100% / 2);
}

.values__description {
  padding: 32px 64px 32px 0;
}

#values .section__title {
  margin: 16px 0 32px 0;
}

.values__list {
  display: flex;
}

.value {
  margin: 32px 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__img--wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}

.value__img {
  width: 20px;
  height: 20px;
}

.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #7c8ba1;
}

/* PRICING */

.plans {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.plan {
  width: 100%;
  max-width: 24rem;
  margin: 4rem 2rem 0 0;
  padding: 0.5rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  border-radius: 0.5rem;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__stripe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__feature {
  color: #fff;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__top {
  padding: 2rem 0;
  text-transform: uppercase;
  line-height: 1.625;
  font-weight: 700;
}

.plan__name {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #000;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan:nth-child(odd) .plan__middle {
  border-top: 2px solid rgb(229, 239, 235);
  border-bottom: 2px solid rgb(229, 239, 235);
}

.plan__middle {
  padding: 2rem;
  margin: 0 -2rem;
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #718096;
  margin-top: 20px;
}

.plan__bottom {
  padding: 2rem 4rem;
}

.plan__button {
  width: 100%;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 300ms ease;
}

.plan__button:hover {
  transform: translate(1px, -1px);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* TESTIMONIALS */

.testimonials__img--wrapper,
.testimonials__description {
  width: calc(100% / 2);
}

.testimonial {
  margin-top: 40px;
}

.testimonials__description {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.testimonial__rating {
  margin-right: 2px;
  margin-top: 4px;
}

.fa-star {
  color: rgb(246, 173, 85);
}

.testimonial__title {
  color: #1a202c;
  line-height: 1.625;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.testimonial__para {
  margin: 1rem 0 2rem 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(74, 85, 104);
}

.testimonial__bottom {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__img--wrapper {
  width: 80px;
  height: 80px;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial__details {
  margin-left: 24px;
}

.testimonial__name {
  color: #4a5568;
  line-height: 1.625;
  font-size: 1.25rem;
  font-weight: 700;
}

.testimonial__role {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #edf2f7;
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms ease;
}

.testimonial__button:hover {
  background-color: rgb(229, 231, 235);
}

.fa-arrow-left,
.fa-arrow-right {
  color: #6415ff;
}

.divider {
  margin: 0.75rem 0;
  border-right-width: 1px;
  height: 20px;
  width: 0.5px;
  background-color: #e5e7eb;
}

/* STARTED */

#started .row {
  overflow: hidden;
}

.started__wrapper {
  background-color: #6415ff;
  width: 100%;
  padding: 96px 0;
  border-radius: 8px;
}

.started__row {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.started__title,
.started__buttons {
  width: calc(100% / 2);
}

.started__title {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}

.started__buttons {
  display: flex;
  justify-content: flex-end;
}

.started__button {
  padding: 20px 40px;
  border-radius: 500px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025px;
  margin: 1px;
  color: #f7fafc;
  transition: all 300ms ease;
}

.started__button:nth-child(1) {
  background-color: #f56565;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-right: 32px;
}

.started__button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #a0aec0;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-right: 32px;
}

.started__button:nth-child(1):hover {
  background-color: rgba(229, 62, 62);
}

.started__button:nth-child(2):hover {
  background-color: #f7fafc;
  color: #6415ff;
}

/* FOOTER */

footer {
  padding: 96px 32px;
  background-color: #6415ff;
  margin-bottom: -32px;
  overflow: hidden;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -48px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
}

.footer__column--title {
  color: #f7fafc;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

.footer__column--link {
  color: #f7fafc;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 12px;
  position: relative;
}

.footer__column--link:nth-child(2) {
  margin-top: 24px;
}

.footer__column--link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #f7fafc;
  left: 0;
  bottom: -6px;
  transition: opacity 300ms ease;
  opacity: 0;
}

.footer__column--link:hover:after {
  opacity: 1;
}

.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0;
  background-color: rgb(116, 44, 255);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  width: 32px;
  height: 32px;
}

.footer__logo--text {
  font-size: 20px;
  font-weight: 900;
  color: #f7fafc;
  margin-left: 8px;
  letter-spacing: 0.05rem;
}

.footer__copyright {
  color: #a0aec0;
  font-weight: 500;
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__social--link {
  padding: 8px;
  border-radius: 50%;
  background: #f7fafc;
  margin-left: 16px;
  transition: all 300ms ease;
}

.footer__social--link:hover {
  background-color: rgba(203, 213, 224);
}

/* SIZING */

@media (max-width: 1280px) {
  #header .row {
    align-items: flex-end;
  }

  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    font-size: 36px;
  }

  .header__customers {
    padding-right: 64px;
  }

  .header__img,
  .quality__img,
  .steps__img,
  .values__img,
  .testimonials__img {
    max-width: 512px;
  }

  .plan__bottom {
    padding: 2rem;
  }

  .testimonials__img--wrapper {
    width: 40%;
  }

  .testimonials__description {
    width: calc(100% - 40%);
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 5rem 0;
  }

  header .row {
    flex-direction: column;
    align-items: center;
  }

  .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__description,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
  }

  h1 {
    font-size: 32px;
  }

  .header__para {
    margin: 20px;
  }

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

  .header__customers {
    padding-right: 0;
  }

  .feature__list {
    max-width: 768px;
  }

  .feature {
    width: calc(100% / 2);
  }

  .feature__row {
    padding: 32px 8px;
    margin: 0 16px;
  }

  .quality__description {
    margin-right: 0;
    padding-right: 48px;
  }

  .section__title {
    font-size: 36px;
    line-height: 1.25;
  }

  .section__para {
    font-size: 16px;
  }

  .values__list {
    flex-direction: column;
    max-width: 20rem;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-right: 0;
  }

  .testimonials__description {
    padding-left: 48px;
  }

  .started__row {
    flex-direction: column;
  }

  .started__title {
    text-align: center;
    width: 100%;
    max-width: 512px;
  }

  .started__buttons {
    margin-top: 24px;
    width: auto;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}

@media (max-width: 768px){
  .feature__list{
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .feature__para {
    max-width: none;
  }

  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }

  #steps .row,
  #testimonials .row {
    flex-direction: column;
  }

  .quality__description,
  .quality__img--wrapper,
  .steps__description,
  .steps__img--wrapper,
  .values__description,
  .values__img--wrapper,
  .testimonials__description,
  .testimonials__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .quality__description,
  .steps__description,
  .values__description,
  .testimonials__description {
    padding: 0;
    margin-top: 64px;
    display: block;
    text-align: center;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .step__description {
    margin-top: 12px;
    margin-left: 0;
  }

  .values__list {
    margin: 0 auto;
  }

  .value {
    margin-right: 0;
    align-items: center;
  }

  .footer__columns {
    justify-content: flex-start;
  }

  .footer__column {
    width: calc(100% / 3);
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright,
  .footer__socials {
    margin-top: 32px;
  }
}

@media (max-width: 640px) {
  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }
}