@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
}

section{
    padding: 0 32px;
}

a{
    text-decoration: none;
    cursor: pointer;
}


/* NAVBAR */

nav{
    padding-top: 32px;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.nav__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo--img{
    width: 40px;
    height: 40px;
}

.nav__logo--title{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-left: 8px;
    padding-bottom: 2px;
}

.nav__links{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    margin: 0 24px;
    border-bottom: 2px solid transparent;
    position: relative;
}

.nav__link:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #6415ff;
    left: 0;
    bottom: -6px;
    transition: opacity 300ms ease;
    opacity: 0;
}

.nav__link:hover:after{
    opacity: 1;
}

.login{
    margin-left: 48px;
}

.nav__link--primary{
    margin: 0;
    margin-top: 2px;
    background-color: #6415ff;
    color: #fff;
    line-height: 1.5;
    padding: 10px 32px;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.nav__link--primary:after{
    content: "";
    width: 0;
    height: 0;
}

.nav__link--primary:hover{
    background-color: rgba(80, 17, 204);
}